.jumbotron {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 50px;

}

.btn {
    background-color: darkblue;

}

.card-serie {
    flex: 1 150px;
    padding: 2px 5px 2px 5px; 
}

.btn-reserva {
    width: 100%;

}